.container-for-upload-album {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 15px;
    margin-top: 45px;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.container-for-upload-music {
    width: 994px;
    height: auto;
    display: flex;
    flex-direction: column;
    /*border: 1px solid rgb(51, 51, 51);*/
    background-color: rgba(178, 178, 178, 0.08);
    border-radius: 15px;
    margin-top: 45px;
    align-items: center;
    gap: 20px;
    padding-top: 22px;
    padding-bottom: 24px;
}


.upload-header {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column; /* Изменяем направление на колонку */
    gap: 15px;
}


.album-pic {
    width: 287px;
    height: 287px;
    overflow: hidden;
    /*border-radius: 10px;*/
    border-radius: 7px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background-color: #FF90BC;
}

.album-pic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-name {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #333333;
}

.divide-line {
    flex-grow:1;
    height: 1px;
    width: 100%;
    /*background-color: rgb(51, 51, 51);*/
    background-color: rgba(136, 134, 134, 0.27);

}

.button-container {
    width: 624px;
    height: auto;
    display: flex;
    border-color: black;
    justify-content: space-between;
}


.new-audio-container {
    width: 624px;
    height: 55px;
    position: relative;
    background-color: rgba(217, 217, 217, 0.26);
    margin-bottom: -2px;
    border-radius: 5px;
}

.form-container {
    width: 322px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

#forbuttons {
    width: 624px;
}

#forinputs {
    height: 24px;
}

.inscription-for-form {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    margin-top: 4px;
}









